<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dk.revsbech.galgeleg">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.CMRulesAkt"></activity>
        <activity
            android:name=".view.GameOverAkt"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".view.GameWonAkt"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".view.HsAkt"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".view.PlayAkt"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".view.MainAkt"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".view.BackgroundSoundService" />
    </application>

</manifest>